# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

download-geofabrik*
download-geofabrik

# Folders
_obj
_test
darwin32
darwin64
linux32
linux64
win32
win64

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
