

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Makefile build folder
# download-geofabrik*/

# Linux binary
//download-geofabrik

# Folders
dist
_obj
_test
darwin32
darwin64
linux32
linux64
win32
win64

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

# Binaries for programs and plugins
*.dll
*.dylib
*.exe
*.exe~
*.prof

# Downloaded files
*.poly
*.osm.*
*.zip
*.md5
*.pbf

# need for tests
!LICENSE.md5

snap.login

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


dist/


download-geofabrik
