language: go
sudo: false
go:
- '1.12'
- '1.11'
- '1.10'
- '1.9'
- '1.8'
- stable
#- tip
before_install:
- go get github.com/mattn/goveralls
install:
- go get -t -v ./...
script: go test -v ./...
stages:
- test
- goveralls
- Geofabrik
- OSMfr
- bbbike
- Readme
- build
jobs:
  include:
  - stage: Geofabrik
    if: tag IS present OR commit_message =~ /(yaml|YAML|\.yml|geofabrik|Geofabrik)/
      AND type != pull_request
    go: stable
    script: make geofabrik
    deploy:
      provider: pages
      skip-cleanup: true
      github-token: $GITHUB_TOKEN
      keep-history: true
      target-branch: $TRAVIS_BRANCH
      on:
        all_branches: true
  - stage: OSMfr
    if: tag IS present OR commit_message =~ /(yaml|YAML|\.yml|osmfr|OSMfr|openstreetmapFR|openstreetmap\.fr)/
      AND type != pull_request
    go: stable
    script: make osmfr
    deploy:
      provider: pages
      skip-cleanup: true
      github-token: $GITHUB_TOKEN
      keep-history: true
      target-branch: $TRAVIS_BRANCH
      on:
        all_branches: true
  - stage: bbbike
    if: tag IS present OR commit_message =~ /(yaml|YAML|\.yml|bbbike)/
      AND type != pull_request
    go: stable
    script: make bbbike
    deploy:
      provider: pages
      skip-cleanup: true
      github-token: $GITHUB_TOKEN
      keep-history: true
      target-branch: $TRAVIS_BRANCH
      on:
        all_branches: true
  - stage: Readme
    if: tag IS present
      AND type != pull_request
    go: stable
    script: make readme
    deploy:
      provider: pages
      skip-cleanup: true
      github-token: $GITHUB_TOKEN
      keep-history: true
      target-branch: $TRAVIS_BRANCH
      on:
        all_branches: true
  - stage: goveralls
    if: tag IS present OR commit_message !~ /(no-coverage|no-test)/
    go: stable
    script: 
    - go test -bench=. -benchmem -v ./...
    - "$GOPATH/bin/goveralls -service=travis-ci"
  - stage: build
    if: branch = master OR tag IS present OR commit_message !~ /(no-build)/
    go: stable
    deploy:
      provider: script
      skip_cleanup: true
      script: curl -sL https://git.io/goreleaser | bash
      on:
        tags: true
        condition: $TRAVIS_OS_NAME = linux
env:
  matrix:
  # Force using modules.
  - GO111MODULE=on
  global:
  -  secure: RDB5xi5zZQNqMbOMAG2hX25UyGWGcCjjuOtmtoMSVKhwvvfJgSp840UaT1X4fNlQWb9MXI2f/nWDA1j2XXLJCkCyBWlWgPAsWLi9DwalEFYBVlrAeT9prWHGfsAPa4UbMVnGFfWdNy3rcfOTJUt2FC77S9sxm0kHP4LyCKE459QdmTc5sn9Cb9LuVLtanzb19NImi3F00Wc9g2KoD1CZXncde6iv34NfKgdUGvFhMofensGgD3qAJsjiREC4Vk2oO+9z5dCQ/GmNlFDG/FVst80gsQYsi6m5K5suC+jvYAmFDaENDwgTsRuqYSVnlSxB3IRYkXUPtllKfvx1Z+8ARFxRrX1DWcUkxb2CKq/DIVFPYillA8Wpcr3iBw+S5Tc9Q1G7LQLbc6g0NohdUrIrORP3TwLkq8pmyd+w4SMurGDod1kNfmprNTbgVlLvhCNSpRtyA1YZ74/nRzti+a/TG8zwCbXrlBkSyVw3xmPehEQ0Uu8R3UssvymN1fxKpBDpvcub6nv0k+mRT7mnZvM8uclojrq1rS/2ecq0E0fCdHBZcpwzDG7E7k4KC8e122sLNe4sdscEQUh050gTBF2PkLy7fQF6P+UzkFgJvzd7EPJ99gwxwiMMfKQiR/qFZHZ+j+qIxipc91fA4l0Qn9J89wHVzXJJ5GSCWIX0gb8TNNw=
cache:
  directories:
    - $HOME/.cache/go-build
    - $HOME/gopath/pkg/mod
