name: yml-generate
on:
  pull_request:
  push:
    branches:
      - main
      - 'feat/*'
      - 'fix/*'
jobs:
  yml-generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
      - uses: actions/setup-go@v5
        with:
          go-version: '>=1.21' # The Go version to download (if necessary) and use.
          check-latest: true
          cache: true
      - run: go run download-geofabrik.go generate
      - run: go run download-geofabrik.go --service="openstreetmap.fr" generate
      - run: go run download-geofabrik.go --service="bbbike" generate
      - run: cat .README.md1 > README.md
      - run: go run download-geofabrik.go --help-long >> README.md
      - run: cat .README.md2 >> README.md
      - run: go run download-geofabrik.go list --markdown >> README.md
      - run: echo "" >> README.md
      - run: echo "## List of elements from openstreetmap.fr" >> README.md
      - run: go run download-geofabrik.go --service "openstreetmap.fr" list --markdown >> README.md
      - run: echo "" >> README.md
      - run: echo "## List of elements from bbbike.org" >> README.md
      - run: go run download-geofabrik.go --service "bbbike" list --markdown >> README.md
      - run: echo "" >> README.md
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
      #- uses: stefanzweifel/git-auto-commit-action@v5.0.1
      #  with:
      #    commit_message: new yml files
      #    branch: ${{ github.head_ref }}
