name: yml-generate
on:
  # pull_request:
  push:
    branches:
      - master
  schedule:
    - cron: '0 0 * * 0' # every Sunday at midnight
permissions:
  # contents permission to update benchmark contents in 'benchmarks' branch
  contents: write
jobs:
  yml-generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}
      - uses: actions/setup-go@v6
        with:
          go-version: stable
          check-latest: true
          cache: true
      - run: go run cmd/download-geofabrik/main.go generate
      - run: go run cmd/download-geofabrik/main.go --service="openstreetmap.fr" generate
      - run: go run cmd/download-geofabrik/main.go --service="bbbike" generate
      - run: go run cmd/download-geofabrik/main.go --service="osmtoday" generate
      - run: cat .README.md1 > README.md
      - run: go run cmd/download-geofabrik/main.go --help >> README.md
      - run: cat .README.md2 >> README.md
      - run: go run cmd/download-geofabrik/main.go list --markdown >> README.md
      - run: echo "" >> README.md
      - run: echo "## List of elements from openstreetmap.fr" >> README.md
      - run: go run cmd/download-geofabrik/main.go --service "openstreetmap.fr" list --markdown >> README.md
      - run: echo "" >> README.md
      - run: echo "## List of elements from bbbike.org" >> README.md
      - run: go run cmd/download-geofabrik/main.go --service "bbbike" list --markdown >> README.md
      - run: echo "" >> README.md
      - run: echo "## List of elements from osmtoday" >> README.md
      - run: go run cmd/download-geofabrik/main.go --service "osmtoday" list --markdown >> README.md
      - run: echo "" >> README.md
      - uses: actions-js/push@master
        with:
          message: generate yaml files
          branch: new_yamls
          github_token: ${{ secrets.GITHUB_TOKEN }}
          rebase: true
          force: true
